<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>

    <h2>Register !</h2>

    <form method="POST" action="/register">
      <p>
        <label>Username</label>
        <input type="email" name="username" />
      </p>
      <p>
        <label>Password</label>
        <input type="password" name="password" />
      </p>
      <p>
        <input type="submit" name="Register" value="Register"/>
      </p>
    </form>

    <p>
        Have an account? <a href="http://localhost:8080/login">Login!</a>
    </p>

  </body>
</html>
